*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: #1d1f1d;
    background-image: url(https://www.loveandpower.com/background.jpg);
    background-size: 100% auto;
    background-repeat: repeat-y;
}
.circles
{
    margin-top: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.circle{
    width:300px;
    border: px white solid;
    border-radius:100%;
    margin-top: 30px;
       
}

.circle:hover
{
border:10px rgb(204, 200, 200) solid;
margin-top: 20px;
margin-bottom: -10px;

}
.text
{
    color: white;
    font-size:1.25em;
    margin: 10px auto;
}
#name {
    text-align:center;
    font-size: 100px;
    font-family: 'MonteCarlo', cursive;
}
#whoishe
{
    font-family: 'Georama', sans-serif;
    margin: 20px 20px;
}
.links
{
    
    margin-top: 70px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
   
    
}
.link{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.25em;
}
.links :hover
{
    color: rgb(85, 84, 84);
}
#caption
{
     text-align: center; 
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    color: white;
    letter-spacing: 2px; 
}
table {
    width: 100%;
}
td{
    text-align: center;
    padding: 5px;
}